/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
}

a {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    cursor: pointer;
    cursor: hand;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 3rem 0rem;
    color: #607D8B;
    text-decoration: none;
  }

  a:hover {
    background-color: #cfd8dc;
  }

/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}
