{% extends 'layout.html.twig' %}

{% block title %} Boutique - formulaire produit {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-8 col-md-6 col-4">
        <h1>Je suis dans le formulaire d'ajouts des membres}</h1></div>
    </div>

        
    {{ form(MembreForm) }}

    
{% endblock %}

{# affiche la vue du formulaire  #}