bit.do/poles-v c'est pour recupérer les fichiers drive
programme :  

1/ Révision PHP OO:

Visibilité - Autoload - Namespace - Interfase

2/ MVC

SYMFONY :

INTRO: qu'est-ce que Symfony?
ETAPE 1 : Installation de SF 3.4 LTS : Long Time Support
ETAPE 2 : Les bundles
ETAPE 3 : Les routes et les controllers
ETAPE 4 : Créer la boutique sur SF
ETAPE 5 : TWIG (moteur de template)
ETAPE 6 : Les assets
ETAPE 7 : Les entités
ETAPE 8 : DOCTRINE
ETAPE 9 : Les formulaires
ETAPE 10 : Validation des données
ETAPE 11 : Association Mapping
ETAPE 12 : Sécurité et utilisateur
ETAPE 13 : Installation et boutique sur SF 4.3
BONUS : mise en prod
BONUS : Formulaire de contact

-----------------------------------------------------------
INTRO : Qu'est-ce que Symfony 
-----------------------------------------------------------

1/ Quel intérêt d'utiliser un Framework 
    A. Une organisation optimisée
    B. Fonctionnalités communes à tous les projets(ex:si on doit intervenir dans un projet,il y a les modules utilisateur)
    C. Service disponibles (Routing, Sécurité, BDD,Moteur de template,formulaire...)
    D. Communauté



2/ Le choix du Framework
    A. Propre Framework (pédagogie)
    B. Les framework fullstack (Symfony, Zend, Laravel, Cake ...)
    C. Les mini Framework (Silex, Slim, CodeIgniter, Lumen ...)


3/ Symfony

    ->Framework Français créé par sensiolabs
    ->versions:
    LTS (Long Time Support) : 
        v2.8
        v3.4 : 2.8  plus souple (moins rigide), avec des Fonctionnalités
        v4.4 : 3.4 BundleLess, Flex, Encore (webpack), Maker, PHP7.1

-----------------------------------------------------------------------------------
ETAPE 1 : Installation de SF 3.4
Sommaire :
1 / Installer Composer
2 / Installer SF3.4
3 / Arborescence des dossiers et fichiers
4 / Lancement de l'application 
------------------------------------------------------------------------------------- 

1 / Installer Composer

Composer est un outils de dépendance.
Il permet de télécharger et de mettre à jour tous les outils (services, composants, dépendances) dont on a besoin.

    - Télécharger : https://getcomposer.org/download/
    composer-Setup.exe

    - Installer : Suivre les étapes (en décochant)

2 / Installer SF3. 4

    - Dans le dossier Symfony
    - MAJ + clic-droit : Ouvrir une fenêtre powershell ici

    <cmd>
    composer create-project symfony/framework-standard-edition test

    ==> A ce stade, un dossier test a été créé. C'est un nouveau projet SF.

3 / Arborescence des dossiers et fichiers

    - app/  : contient toue la configuration de l'app (BDD, sécurité, routes...)
    - bin/  : les éxécutable de l'app (de SF)
    - src/  : le dossier dans lequel nous allons coder notre MCV
    - var/  : les fichiers écrits par SF au fur et à mesure (cache,logs)
    - tests/ : Les tests unitaires.
    - web/  : Repertoire WEB (app.php ou app_dev.php,(équivalent de index) img/css/js/fonts)
    - vendor/ : Le coeur de SF (les fichiers codés par les sensio Labs)

    - composer.json : Contient la liste de toutes les dépendances dont on a besoin. "dépendances = les fichiers créer par sension labs et dont on va s'en servir"

4 / Lancement de l'application

    - Méthode 1 :
    localhost/Back/Symfony/Test/web/app.php
    localhost/Back/Symfony/Test/web/app_dev.php


    - Méthode 2 :
    On va dans le dossier test/
    <cmd>
    php bin/console server:run [ou écrire sur 'localhost:8000']

    -Différence entre mode prov et dev:

    localhost/Symfony/Test/web/toto
    localhost:8000/toto

    ==> A ce stade notre application affiche la page de bienvenue. Cela signifie que tout va bien.

----------------------------------------------------------------------------------
ETAPE 2 : Les bundles
Sommaire:
1 / Le concept des bundles
2 / Création de notre premier Bundle
----------------------------------------------------------------------------------

1 / Le concept des Bundles

    - Les bundles sont des briques de notre applications.

    UserBundle : 
    UserController (C)
    UserModel (M)
    View : inscription/connexion/profil...

    Avec la nouvelle version de SF(4), on considère qu'il est préféreable de créer un seul Bundle (AppBundle).

2 / Création de notre premier Bundle

    On va créer un Bundle : (namespace)POLES/TestBundle(nom entreprise)

    <cmd> (ou terminal VisualCode)
    php bin/console generate:bundle

    ->Yes
    ->POLES/TestBundle
    ->POLESTestBundle
    ->src/
    ->annotation

    ==> Notre Bundle a été crée, mais il faut l'enregistrer.

    <code>composer.json (aller dans le fichier et rajouter ligne de code)
     "psr-4": {
            "AppBundle\\": "src/AppBundle",
            "POLES\\": "src/POLES"
     },

     -Mise à jour de l'app
     <cmd>
     composer update

     ===> Notre Bundle existe dans src/POLES/TestBundle
     Il est composé de 4 dossiers:
        - Controller : Les controllers du bundle
        - DependencyInjection : Injection de dépendances.
        - Ressources : Vues et Routes (YML) et eventuellement JS
        - Test : Test liées aux fonctionnalité du Bundle.

    ===> A ce stade le Bundle est fonctionnel, mais il y a une petite erreur qu'on va corriger.

    - src/POLES/TestBundle/Controller/DefaultController.php

    <code>
     return $this->render('POLESTestBundle:Default:index.html.twig');
     Devient :
     return $this->render('@POLESTest/Default/index.html.twig');

     ===> A ce stade, la page d'accueil affiche "Hello World".

----------------------------------------------------------------------------------
ETAPE 3 : Les routes et les controllers
Sommaire :

1 / Création de routes
2 / L'objet Request
3 / L'objet response
4 / Redirection
5 / Message

twig est un moteur de template (fichier html) qui va nous permettre de mettre du php dans nos vue de manière plus simple

il faut aller ds le dossier hola.html.twig dans 
 srx/POLES/TestBundle/Resources/views/Default/hola.twig et ecrire ce qu'on veut afficher ds la page puis faire le test
 test : localhost:8000/hola/Yakine/
----------------------------------------------------------------------------------------------------------------------------

1 / Création de routes
    ("/") -> route simple homepage
    ("/bonjour/") -> route echo (erreur)
    ("/bonjour2/") -> route response
    ("hello/{prenom}") -> route response + param UserBundle
    ("/hola/{prenom}") -> route render de vue(html.twig) + param URL
    ("/ciao/{prenom}/{age}") -> route render de vue + 2 params URL
    ("redirect/") -> route avec redirection (RedirectResponse)
    ("/redirect2") -> route avec redirection (redirectToRoute())
    ("/message/") -> route avec redirect et message en session 

2 / L'objet Request
    <code>
    use Symfony\Component\HttpFoundation\Request;

    Correspond à la partie requete de la requete HttpFoundation

    <ex code>
    $session = $request -> getSession();
    -> récupère la session ($_SESSION)

    Autres exemples:
    
    $session -> set('prenom','Yakine');
    echo $session ->get('prenom');

    Autre méthode :
    $request -> session -> set('prenom', 'Yakine');

    Autres utilité de $request :

    index.php?argument_url=toto
    $request -> query -> get('argument_url'); // permet de récupérer le champs de l'URL
    $request -> request -> get('champs_form'); // permet de récupérer le champs du formulaire
    $request -> cookies -> get('cookie'); // 
    $request -> server -> get('DOCUMENT_ROOT'); // permet de récupérer les info du serveur
    
    /exemple/ {prenom}
    /exemple/?prenom=yakine

3 / L'objet Response

    -Correspond à la partie réponse d'une requête HttP.

    <code>
    use Symfony\Component\HttpFoundation\Response;

    Toute action (fonction) doit avec une réponse.

    return new Response ('toto');

    même la fonction render est une réponse.

    return $this-> render();
    return $this-> getTemplating() -> renderResponse();

4 / Redirection

    <code>premiere méthode :
    use Symfony\Component\HttpFoundation\RedirectResponse;

    cf route "/redirect/" et "/redirect2"

    /!\ à ce stade toutes nos routes doivent avoir un name

5 / Message

    <code>
    $session ->getFlashBag() -> add();

    ->permet d'enregistrer des messages qui seront disponible dans d'autres pages (messages de félicitations, ou d'erreur).
    
    ->app.session : Qui nous permet en Twig de récupérer les infos en session.
    ->app.user : Qui nous permet en Twig de récupérer les infos de l'utilisateur actuellement connecté


------------------------------------------------------------------------------------------------------------------------------

ETAPE 4 : Créer la Boutique sur SF 3.4

Sommaire :
1 / Création du projet
2 / Réorganiser le AppBundle
3 / Création des première route
------------------------------------------------------------------------------------------------------------------------------

1 / Création du projet

    - Dans le dossier Symfony
    <cmd>
    composer create-project symfony/framework-standard-edition Boutiques3
    cd Boutique3
    php bin/console server:run
    
    Test : localhost:8001

2 / Réorganiser le AppBundle

     localhost/              -> index.html.twig
     localhost/categorie/pull-> index.html.twig
     localhost/produit/12    ->show.html.twig

Admin Controller :

localhost/admin/produit/list/
        ->Admin/list_produit.html.twig
        ->'Je suis dans la page qui liste les produits'

localhost/admin/produit/add/
        ->Admin/form_produit.html.twig
        ->'Je suis dans le formulaire produit'

    -> Création de nos controllers:
        AdminController
        MembreController
        CommandeController
        ProduitController
        --
        SecurityController (pour plus tard si besoin)
        BaseController
    
    -> Création de nos Vues
        Admin/ (list_produit, form_produit etc...)
        Membre/ (connexion, inscription, profil...)
        Commande/ (panier, transport, livraison, paiement...)
        Produit/ (home, categorie, boutique, fiche_produit...)

3/ Création des premières routes

    -> ProduitController : "/", "/produit/{id}/" etc...
    ->AdminController : "/admin/produit/", "/admin/membre/" etc...

------------------------------------------------------------------------------------------------------------------------

ETAPE 5 : TWIG (moteur de template)
Sommaire : 
1 / Création du layout
2/ l'Heritage Twig
3/ Modification de nos Vues
4/ Documentation Twig
------------------------------------------------------------------------------------------------------------------------
    TWIG est le moteur de tempalte de Symfony. Un moteur de tempalte (tpl, smarty, twig, blade ...) permet d'afficher du php dans les vues HTML de manière plus simple.

    exemple :
    <?= $membre['prenom'] ?>
    {{ membre.prenom }}

1/ Création du layout

   Chemin :  Boutique3/app/Resources/views/layout.html.twig

    Un Layout est une structure de page, dans laquelle on peut ajouter des éléments/ du contenu.
    Le concept des layout permet d'avoir plusieurs structures de pages dans notre site (ex: front vs backoffice).

    <!-- A faire : Création des pages connexion, inscription et profil : 
    
    Dans MembreController : 
        route("/inscription/", name="inscription")
        render de Membre/inscription.html.twig
    
        route("/connexion/", name="connexion")
        render de Membre/connexion.html.twig
    
        route("/profil/", name="profil")
        render de Membre/profil.html.twig
    
    2/ Créer les vues
        Membre/inscription.html.twig
        Membre/connexion.html.twig
        Membre/profil.html.twig
        
        Attention : ces vues,héritent de layout.html.twig
    
    3/ Ajouter les nouvelles pages dans le menu de notre SecurityController
    
        -Dans layout.html.twig
    
        path('inscription')
        path('connexion')
        path('profil')
         -->

2/ L'Héritage Twig

        Avec Twig on parle d'héritage. Celà signifie que nos vues héritent (extends) d'un layout , et peuvent contenir de l'HTML à l'intérieur des block disponible (crées dans le layout).

====> De manière générale, il faut voir le fonctionneement de Twig et de la méthode render comme un chargement du contenu de manière "empilée" (analogie de la poupée russe). 
Render temporise (mémoire tempon) le contenu, et affiche en même temps le Layout, la vue et les params.

3/ Modification de nos vues

    <code>
        {% extends 'layout.html.twig' %}
        {% block content %}
        Contenu HTML de la pages
        {% endblock %}

    /!\ ATTENTION : Quand on utilise l'héritage Twig, nos vues ne peuvent contenir de l'HTML qu'a l'intérieur des blocks prévus pour

4/ Documentation Twig

        http://twig.symfony.com/doc/2.x/

====> A ce stade, notre app permet d'afficher les pages accueil, inscription, connexion, profil, boutique, produit, catégorie, gestion membre, gestion produit et gestion commande.

====> Par contre nous ne sommes pas encore en mesure d'échanger avec ma BDD (ajouter un contenu, recupérer un contenu), il faut voir les entity et Doctrine.

-----------------------------------------------------------
ETAPE 6 : ASSETS
-----------------------------------------------------------

Sommaire :
1/ Modification du fichier composer.json
2/ Mise à jour de l'app.
3/ Dossier Web (photo, css / js...)
4/ Modification des vues.
-----------------------------------------------------------

    - Le composant Assset de SF nous permet de gérer les ressources (photo, img, js, fonts, css...) et de les appeler de manière absolue.

1/ Modification du fichier composer.json

    "require" : {
        "symfony/asset": "^3.4"
    }

2/ Mise à jour de l'app.

    <cmd>
    composer update (permet d'executer ce que l'on demande )


3/ Dossier Web (photo, css / js...)

    Boutique3/web/
        photo/ (à recupérer du site en procédural)
        css / ( à créer)
        js / ( à créer)

4/ Modification des vues.
    href="../../style.css"
    ->href="{{ asset('css/style.css') }}"

    href=""inscription.php"
     ->href="{{ path('inscription') }}"

     La fonction asset() de TWIG nous permet de charger une ressource (photo, css, js, fonts...)
     le chemin de asset sera absolue,idem pour path   

     La fonction path() de TWIG nous permet de créer un lien vers une page (route).


     // liens dynamiques :

     src="../../photo/<?= $pdt['photo'] ?>"
     src="{{ asset('photo/' ~ pdt.photo ) }}"

     href="fiche_produit.php?id=<?= $pdt['id'] ?>"
     href={{ path('produit', {'id' : pdt.id }) }}"
     @Route("produit/{id}", name="produit")

     explication :
        produit --> nom de la route
        id -------> paramètre dynamique de la route
        pdt.id---->valeur du paramètre dynamique

autre exemple:
        href="boutique.php?categorie<?= $pdt['categorie'] ?>"
        href="{{path('categorie', { 'cat':cat.categorie}) }}"
        @Route("categorie/{cat}", name="categorie")

        explication :
        categorie --> nom de la route
        cat -------> paramètre dynamique de la route
        pdt.categorie---->valeur du paramètre dynamique




-----------------------------------------------------------
ETAPE 7 : Entités 
-----------------------------------------------------------
Sommaire : 
1/ Doctrine ORM et le concept des Entité (Entity)
2/ Créer Entité Produit
3/ Annotations
4/ Mettre à jour la BDD
5/ Générer les entités en ligne de commande
6/ Générer la BDD via les Entités
7/ Générer les entité depuis la BDD

1/ Doctrine ORM et le concept des Entité (Entity)

    -D'une certaine manière, les entités correspondent à la partie model de notre MVC. C'est la relation avec la BDD, mais en PHP et non de SQL.
    Théoriquement, nous n'avons plus besoin du SQL

    - ORM : Objets Relation Mapping

    - Nous allons crée nos entités, sous forme de classes PHP (POPO : PLAIN Old Php Objects), qui vont permettre à Doctrine de comprendre notre BDD et de la manipuler.

    Par exemple : Pour faire INSERT INTO produit

    $produit = new Produit;
    persist($produit);

     pour faire un  DELETE * FROM produit Where id 'produit' = id_produit
     remove($produit);

     la requete pour créer un formulaire
     createForm($produit);

     ===> Pour que celà soit possible,il faut expliquer à Doctrine quel relation il existe entre la BDD et nos Entity

2/ Créer Entité Produit

 A. Créer src/AppBundle/Entity
 B. Créer le fichier src/AppBundle/Entity/Produit.php
 C. Créer notre class Produit et nos propriétés et les getters et les setters 



3/ Annotation (mapping)

- Avec Doctrine ORM, on paramètre le mapping via les annotations.

use Doctrine\ORM\Mapping as ORM

--> Voir le Fichier Entity/Produit.php

/!\ ATTENTION: les annotations pour L'ID (primary key ) sont plus longues.

Liens :

Basic mapping

https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/basic-mapping.html Association Mapping



4/ Mettre à jour

<cmd>

    php bin/console doctrine:schema:update --dump-sql

    --> voir la requete php bin/console doctrine:schema:update --force

    --> executer les modifs en BDD

    ==> Permet aussi de créer une BDD à partir de nos entités5/ Générer les Entités en ligne de CommandeA. on doit
    connecter notre App à la BDD

    - app//config/parameters.yml

    - php bin/console doctrine:generate:entity

    AppBundle:Membre

    -> on suit les etapes.

    ====> cela a créé le fichier Entity/Membre.php en quelques lignes de commandes.6/ Générer la BDD via les Entités -on
    peut crée la BDD, depuis les entités déja codées

    <cmd>

        php bin/condole Doctrine:schema:update --force

        ---> créer les tables dans la BDD . par contre il faut que la BDD existe déja7/ Générer les entités depuis la
        BDD

        -on peut crée la BDD, depuis les entités depuis la BDD

        <cmd>

            php bin/condole doctrine:mapping:import AppBundle\Entity annotation --path=src/AppBundle/Entity ===> Cette
            commande nous a permis de generer les Entités depuis les tables de la BDD .

            - Par contre celan'a ni généré les repository, ni les getteurs ni les setteurs .

            <code>

        @ORM\Entity(repositoryClass="AppBundle\Repository\ProduitRepository")

        @ORM\Entity(repositoryClass="AppBundle\Repository\CommandeRepository")

        @ORM\Entity(repositoryClass="AppBundle\Repository\MembreRepository")

        @ORM\Entity(repositoryClass="AppBundle\Repository\DetailsCommandeRepository")    <cmd>

    php bin/condole doctrine:generate:entities AppBundle

    ==> cela nous crée nos getter et nos setter et génére les repository


-----------------------------------------------------------
ETAPE 8 : DOCTRINE

Sommaire : 

1/ Le service Doctrine
2/ Accéder au service doctrine depuis les controllers
3/ Requetes SELECT * FROM ...
4/ Requetes SELECT * FROM ... WHERE id =
5/ Requetes SELECT * FROM ... WHERE ... = ...
6/ Requestes INSERT / UPDATE
7/ Requetes DELETE 
8/ Create Query et Query query_builder
-----------------------------------------------------------
1/ Le service doctrine

        Doctrine fait 2 choses:

        1/ Doctrine ORM (Object Relation Mapping)
        Il permet de lier les tables de notre BDD à nos entités . On ne va pas manipuler la BDD, mais des objjets (la table Produit ---> Entity Produit)

        2/ Doctrine DBAL (DataBase Abstract Layer)
        Le BDAL c'est une couche qui passe au-dessus de PDO. A partir de maintenant, on ne fait plus de requête SQL, mais on va manipuler du PHP.

        - En résumé le DBAL va nous permettre de faire des SELECT, INSERT, UPDATE, DELETE, non pas via du SQL,mais via des fonctions PHP. On parle de DQL (Doctrine Query Language)

        ----> NOUS NE FERONS PLUS DE SQL (ou presque)

2/ Accéder au serive doctrine depuis les controllers

    A. Il faut pouvoir manipuler les entités dont on a besoin.
    <code>
        use AppBundle\Entity\Produit;
    
    B. Accéder au repository dans un controller : 
    <code>
    $repo = $this -> getDoctrine() ->getRepository(Produit::Class);

    C. Accéder au Manager (qui peut faire des requête sur toutes les tables)
    $em = $this ->getDoctrine() -> getManager();


3/ REQUETES SELECT * FROM 

    Depuis le repository :
    <code>
    $repo = $this ->getDoctrine() -> getRepository(Produit::Class);
    $produits = $repo ->findAll();


4/ Requetes SELECT * FROM ... WHERE id =

    Depuis le repository :
    <code>
    $repo = $this ->getDoctrine() -> getRepository(Produit::Class);
    $produits = $repo ->find($id);

    Depuis le Manager :
    <code>
    $em = $this ->getDoctrine() -> getManager();
    $produit = $em -> find(Produit::class, $id);


5/ Requetes SELECT * FROM ... WHERE ... = ...

    La fonction findBy () va nous permettre de récupérer des données de manière plis ciblée.
    <code>
    $repo = $^this ->getDoctrine() ->getRepositoryProduit::Class;
    $produit = $repo ->findBy(array('categorie') => $cat));
    $produit = $repo ->findBy(array('taille') => '1'));

    $produit = $repo ->findBy(array(
        'categorie' => 'tee-shirt',
        'taille' => '1'
    ));

    SELECT * FROM produit WHERE taille = '1' AND categorie = 'tee-shirt'

    $produit = $repo -> findBy(['couleur' => 'rouge'], ['prix' => 'DESC'], 0, 10);
    SELECT * FROM produit WHERE couleur = 'rouge' ORDER BY prix DESC LIMIT 0,10

    $produit = $repo ->findOneBy(array('taille' => '1'));
    SELECT * FROM produit WHERE taille = '1' LIMIT 0,1


6/ Requestes INSERT / UPDATE

    - Avec doctrine on manipule des Objet (Entité)

    -> Enregistrement :
        - On crée un objet vide.
        - on hydrate l'objet (normalement via un formulaire)
        - on persist et on flush

    <code>  
    $produit = new Produit;
    $produit -> setTitre-('dsqqsdqd')
    $produit -> setReference-('dsqqsdqd')
    ...
    $em -> persist($produit);
    $em -> flish();

    ->Modification :  
        
        - Pour update une entrée, c'est la même chose que pour ADD, à ceci près que l'objet n'est pas vide à la base.
          On doit donc récupérer l'objet à modifier avec la fonction find()
          
7/ Requetes DELETE
        - Avec doctrine on manipule des Objets (Entité) dp,c p, va réci^érer d'abord l'ojbet à supprimé avec la fonction find().

        <code> 
        $em -> remove($produit);
        $em -> flush();


8/ Create Query et Query Builder (faire du sql avec create query  ou ne pas en faire avec query builder)


EXERCICE : 

A faire : La gestion des produits : 

        AdminController 
        -> /admin/produit/

        $produits qui va récupérer tous les produits du site

        ->list_produit.html.twig

        ->tableau avec tous les infos des produits
        ->action : modifier/supprimer


SELECT DISTINCT (categorie FROM produit)
            
    Pour effectuer des requête spécifiques, nous avons 2 possibilités : 

        - Create Query (SQL)
        - Query Builder (PHP)

    ==> VOIR ProduitRepository

    /!\ Dans l'objectif de "factoriser" notre code, nous créons nos requêtes spécifiques dans le Repository, afin de les utiliser de manière simple dans les controller.
    
    ==> Voir le ProduitController, route / categorie/ et la fonction GetAllCategories() déclarée dans le ProduitRepository.

    Liens :
    
    Query Builder : 

    https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/query-builder.html

    Create Query : 

    https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/dql-doctrine-query-language.html

-----------------------------------------------------------
ETAPE 9 : Les formulaires

Sommaire :
1/ Le fonctionnement des formulaires 
2/ Générer les formulaire 
3/ Récupérer les données du formulaire 
4/ Personnaliser un formulaire avec Bootstrap 
5/ Update un enregistrement 
6/ Validation des données 
7/ Champs file

1/ Le fonctionnement des formulaires

-De la même manière qu'on ne manipule pas des enregistrement en BDD, mais bien des objets (Entity) , chaque formulaire va être liée a une entité.

-Ainsi un formulaire est lié à un objet....

Inscription ---------->objet Membre
Ajout de produit ----->objet Produit
Modif de produit ----->objet Produit

Un formulaire est générer gràce à une classe( Type --> ProduitType)
Chaque champs d'un formulaire correspond à une classe, service de Symfony.Cela va permetttre de générer tous les contrôles sur les formulaires

2/ Générer les formulaires 

<cmd>
    php bin/console generate:doctrine:form AppBundle:Produit

-----> Cela créer un dossier Form dans notre Bundle , et un fichier ProduitType.php, qui contient la construction du formulaire.



3/ Récupérer les données du formulaire

    A. Générer le form dans la route

        <code>
        use AppBundle\Form\ProduitType 
        $form = $this -> createForm(ProduitType::class, $produit);

    B. Afficher la vue du formulaire dans la vue
        
        - On envoie le formualire à la vue via les params 
            <code>
        $params = array('produitForm' => $form -> createView()) 

        - On affiche le formulaire : 
            <code>
            {{form(produitForm) }} -->affiche tout le formulaire 
            ---
            {{ form_row(produitForm.reference) }} --> affiche un champs  (label, champs, errors)
            ----
            {{ form_label(produitForm.reference) }} --> affiche le label
            {{ form_widget(produitForm.reference) }} --> affiche le champs
            {{ form_errors(produitForm.reference) }} --> affiche les erreurs 

            /!\ Si on affiche les champs un par un , il ne faut pas oublier : 
            {{ form_start (produitForm) }}
            {{ form_end (produitForm) }}
            
    C. Récupérer les données saisies 

    <code>
    $form -> handleRequest $request); 
    /!\ cette ligne est importante pour pouvoir récupérer les données en POST !!


    D. Checker la validité du form et traiter les données 

    <code>
    if($form -> isSubmitted() && form -> isValid()){
        // persist 
        // flush 
        // message de validation 
        // redirection 
    }


4/ Personnaliser un formulaire avec Bootstrap

    <code>app/config/config/.yml 
    twig:
        form_themes: 
            - 'bootstrap_4_layout.html.twig' 


5/ Update un enregistrement

    Pour update un enregistrement avec le système des formulaires sur SF rien de plus simple. 
    Lorsqu'on créer le formulaire dans la route, on précisera un objet déja existant (cf route admin/admin/produit/update/{id}).


    ---> On dit qu'on hydrate le formulaire.


6/ Validation des données

Exercice

A faire: Inscription (page inscription)

1/ Entity Membre
2/ Controller : MembreController ----> Route "/inscription"
3/ Formulaire (MembreType) --> console 
4/ Route : Créer le formulaire et sa vue 
5/ La vue : Afficher le formulaire 
6/ Route : Récupérer les infos du formulaire et enregistrer le membre .

Attention : Etant donnée que le champs Statut existe dans notre BDD, le formulaire va être créer avec un champs Statut, hors ce n'est pas au membre de choisir son statut 


    - De base, le formulaire est généré par SF de manière basique. Pour gérer nous-même les contraintes et la sécurité; celà se passe dans le fichier ProduitType.php, et on utilise 'constraints' pour définir les contraintes liées au formulaire.

    -> cf ProduitType.php


7/ Champs file

        Pour la gestion des photos, il faut : 
        
        1/ Enregistrer le nom de la photo dans la BDD 
        2/ Enregistrer la photo (data) sur le serveur. 

        ==> CF fonction uploadFile() dans l'entity Produit

/!\ Dans notre formulaire d'ajout de produit, il n'est plus nécéssaire d'avoir le champs photo (TEXT),mais bien un champs file (FILE) qui va récupérer les infos de la photo uploadée.

Pour aller plus loin avec les formulaire et Symfony :

https://symfony.com/doc/current/reference/forms/types.html

--------------------------------------------------
ETAPE 10 : Validation des données :
--------------------------------------------------
Pour aller plus loin avec la validation des données et Symfony : (assert et contraintes)
https://symfony.com/doc/current/validation.html

-----------------------------------------------------------
ETAPE 11 : ASSOCIATION MAPPING
----------------------------------------------------------
Sommaire :
1/ Le concept
2/ La Documentation de Doctrine
3/ mise en place de l'association Mapping (OneToMany) pour Membre -> Commande
-----------------------------

1/ Avec Doctrine, on a pris l'habitude de travailler avec des objets (Entity) correspondant aux enregistrements dans la
BDD (Mapping).

L'association Mapping nous permet de travailler avec des objets dans des objets. Exemple : Un membre peut avoir
plusieurs commandes, dans ce cas, dans un objet Membre nous avons un array composé d'objets commande. Une commande
appartient à UN membre, dans ce cas dans un objet Commande nous avons un objet membre.

Grâce à ce fonctionnement il est plus nécessaire de faire des requêtes de jointure, lorsqu'on récupère un objet, on
récupère tous les objets liés.

2/
https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/association-mapping.html#association-mapping


3/ mise en place de l'association Mapping (OneToMany) pour Membre -> Commande

-> Entity Membre
-> Entity Commande


-> Dans la vue list_commande.html.twig, on utilise {{ c.membre.prenom }} pour accéder aux infos du membre qui a passé la
commande.


-----------------------------------------------------------------

ETAPE 12 : SECURITE ET UTILISATEURS 
-----------------------------------------------------------------
Sommaire : 
1/ Niveau de sécurité 
2/ Fichier de sécurité 
3/ Creation des routes 
4/ Classe Membre (extends UserInterface) 
5/ Layout 



1/ Niveau de sécurité

    - De base Symfony va considérer un visiteur lambda comme un anonyme.

    - Ensuite on va définir des niveaux de sécurité pour les utilisateurs connecté :
        - ROLE_USER
        - ROLE_ADMIN
        - ROLE_SUPER_ADMIN

        -SF a un système de pare-feu : 

        - On définit les routes que les ROLE peuvent emprunter.

        -> Si un user anonyme --> homepage = OK 
        -> Si un user anonyme -->profil = pas OK -> connexion -> profil
        -> Si un user connecté --> profil = OK
        -> Si un user connecté --> admin/produit = pas OK --> page erreur (404) 

        En fonction du visiteur et de la ressources demandée, on peut paramétrer une réaction

2/ Fichier de sécurité 

<code>app/config/security.yml

php bin/console doctrine:schema:update --dump-sql

 à écrire sert a modifié la base de donnée puis 

$ php bin/console doctrine:schema:update --force


Dans membre.php,on a du rajouter 2 function obligatoire 'roles' et 'salt'

<code>app/config/security.yml
	
	On définie plusieurs choses : 
	- encoders (la manière dont les password seront encodés)
	- provider (quelle ressource va servir d'utilisateur : MembreEntity, le login: username)
	- Hierarchie : La pyramide des droits
	- les routes form_login et logout (voir le point suivant)
	- Access control : qui a le droit à quoi


	/!\ Attention le YAML est très sensible aux indentations et aux espaces. 
	



3/ Creation des routes
	
	form_login: 
		login_path: connexion (page de connexion)
		
		check_path: connexion_check (Page de checking de login/password, on doit juste la créée, et la mettre dans l'attribut action de notre formulaire de connexion)
		
		default_target_path: homepage (La page par défaut sur laquelle on est dirigé une fois connecté. Sinon le parefeu prend le dessus)

	logout:
		path: deconnexion (La route de deconnexion. Doit exister mais est vide)
		target: homepage (page de destination, lorsqu'on se déconnecte). 
		


4/ Classe Membre (extends UserInterface)
	
	- A partir de maintenant la classe Membre doit implements l'interface UserInterface
		
		
	--> username (getter/setter)
	--> password (getter/setter)
	--> roles (getter/setter) /!\ roles est un array 
	--> salt (getter/setter)
	
	/!\ Attention lors de l'inscription, il faut penser à définir un role_user par défaut. 
	
	--> public function eraseCredentials() : fonction obligatoire pour que SF prenne la main. 
	
	--> getRoles() et setRoles() au pluriel obligatoirement. 


5/ Layout

	Dans les vues on fait la distinction entre le niveau d'acces des utilisateur avec : 
		
	{{ if is_granted('IS_AUTHENTICATED_FULLY') }}  : tout le monde (sauf anonyme)
	{{ if is_granted('ROLE_USER') }}  : tous les users
	{{ if is_granted('ROLE_ADMIN') }}  : tous les admin
	
		
===> Le salage (cf salt.php) c'est l'idée de rendre un MDP quasiment inviolable en ajoutant au MDP soit une chaîne de caractère que seul le développeur connait (petit site, petite structure), ou alors une chaîne aléatoire pour chaque user... Ensuite pour la connexion, on récupère le salage, pour reconstituer le MDP complet.

ETAPE 13 : Symfony 4
Sommaire :
1/ Installation
2/ L'architecture
3/ Lancement de l'app
4/ Le maker
5/ Flex
-------------------


1/ installation :
composer create-project symfony/website-skeleton Boutique 4

2/ L'architecture

- app a disparu ----> config
- src/AppBundle a disparu ----> BundleLess sans Bundle mais toujours dans le namespace App\
- src/Resources/ View a disparu ---> templates

Le dossier templates prendra toutes les vues (Produit/ Admin/ Membres/ Bases) ainsi que le layout.html.twig

web/ a disparu (app_dev.php, app.php, JS/CSS/Photo) ----> public (index.php, JS/CSS/Photo etc...)

.env : Notre config (notamment les infos de connexion à la bdd

3/ Lancement de l'app

<cmd>
    php bin/console server:start
    ou alors
    php bin/console server:run


    4/ Le maker :

    - Création des Entités :
    php bin/console make:entity

    ou depuis la BDD :
    php bin/console doctrine:mapping:import "App\Entity" annotation --path=src/Entity


    - Mise à jours des entités :
    php bin/console make:Entity --regenerate


    - Créer les controller :
    php bin/console make:controller
    ProduitController
    MembreController
    CommandeController
    BaseController
    AdminController

    - Créer les CRUD :
    - pre-requis : Copier/coller les entités

    copier le dossier boutique3/src/AppBundle/Entity
    le coller dans le dossier boutique4/src/


    <cmd>
        php bin/console make:crud
        Membre
        Commande
        Produit


        - Créer l'entité Membre :
        <cmd>
            php bin/console make:user



            Bundle :

            - FOSUserBundle
            - easyAdmin

            Flex :

            Symfony Flex : la nouvelle façon de développer avec Symfony
            Les versions de Symfony 3.4 et 4.0 viennent tout juste de sortir et avec elles vient une nouvelle façon de
            développer des applications Symfony. Dîtes adieu à la Standard Edition et bonjour aux tout nouveaux
            symfony/skeleton, Symfony Flex et les recettes qui vont avec.

            Vous avez dit Flex ?
            D’un point de vue technique, Symfony Flex est juste un plugin Composer. Il se branche sur les événements
            Composer dès lors que vous lancez une commande qui installe, met à jour ou supprime un paquet PHP ou bundle
            Symfony. Son but ? Automatiser l’installation et la suppression de vos dépendances en fournissant une
            configuration par défaut sans avoir à aller lire la doc pour trouver quelle configuration écrire, quelles
            routes charger ou autre tâche rébarbative à effectuer. Et dès Symfony 4.0, Flex sera le moyen par défaut
            pour développer une application Symfony.

            Il paraît qu’un bon exemple vaut mieux qu’un long discours. Alors imaginons que vous ayez une application
            existante en Symfony 3.3 (parce que vous êtes un dev cool et avez effectué les migrations vers les dernières
            versions de Symfony au fur et à mesure 💪). Vous voulez y ajouter une API en installant api-platform. Vous
            allez donc effectuer les tâches suivantes :


            Sources : https://afsy.fr/avent/2017/08-symfony-flex-la-nouvelle-facon-de-developper-avec-symfony


            WebPack Encore :
            https://symfony.com/doc/current/frontend.html